* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

.menu nav ul li {
    background-color: rgb(76, 175, 80); width: 100%;
    float: left;
    padding: 10px;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 17px;
    display: block;
}