*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    border-bottom: orange solid 5px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(19, 11, 58);
    list-style-type: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

li{
    padding: 10px;
    display: block;
}

li:hover, a:hover{
    background-color: orange;
    color: rgb(19, 11, 58);
}